// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Particles
@import "particles";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html{
  background-color: $body-bg;
}
//
body {
  //background: linear-gradient(-45deg, #23A6D5, #23D5AB, #EE7752, #E73C7E);
  //width: 100 wh;
  //height: 90vh;
  //background-size: 400% 400%;
  //-webkit-animation: Gradient 15s ease infinite;
  //-moz-animation: Gradient 15s ease infinite;
  //animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1, h2 {
  color: $text-color;

  small {
    font-size: 12px;
    color: $text-color;
  }

}

a{
  color: #FFFFFF;

  &:hover{
    color: #FFFFFF;
  }

}

.a-color a{
  color: $text-color;
}

a:hover{
  .fa-facebook-f{
    color: #3b5998;
  }
  .fa-instagram{
    color: #bc2a8d;
  }
}

.supported svg{
  width: 200px !important;

  .st0 {
    fill: #FFFFFF;
  }

  .st1 {
    fill: #FFFFFF;
    //fill: #E92C69;
    //stroke: #FFFFFF;
  }

}

.supported svg:hover{

  .st1 {
    fill: #E92C69;
  }

}

footer{
  margin: 50px 0px 20px 0px;
}

.glyphicon-chevron-down{
  color: $chevron-arrow-color;
}

li{
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 13px;
}

textarea{
  resize: none;
}

.info-text{
  background-color: #F2F2F2;
  border: 1px solid #DDDDDD;
  margin-top: 25px;
}

#v-modal{

}

#v-modal .modal-header{
  background-color: $brand-success;
  color: white;
  font-weight: bold;
}

#v-modal .modal-title{
  text-align: center;
}

#v-modal .modal-body{
  text-align: justify;
  font-size: 16px;
  color: #333;
}

.particles-js-canvas-el{
  //z-index: 0;
}