// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//
body {
  width: 100 wh;
  height: 90vh;
  background: linear-gradient(-45deg, #23A6D5, #23D5AB, #EE7752, #E73C7E);
  background-size: 400% 400%;
  //-webkit-animation: Gradient 15s ease infinite;
  //-moz-animation: Gradient 15s ease infinite;
  //animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1, h2 {
  color: #FFFFFF;

  small {
    font-size: 12px;
    color: #FFFFFF;
  }

}

a{
  color: #FFFFFF;
}

a:hover{
  .fa-facebook-f{
    color: #3b5998;
  }
  .fa-instagram{
    color: #bc2a8d;
  }
}

.supported svg{
  width: 200px !important;

  .st0 {
    fill: #FFFFFF;
  }

  .st1 {
    fill: #FFFFFF;
    //fill: #E92C69;
    //stroke: #FFFFFF;
  }

}

.supported svg:hover{

  .st1 {
    fill: #E92C69;
  }

}

footer{
  margin-top: 100px;
}

.glyphicon-chevron-down{
  color: $brand-success;
}

li{
  font-weight: bold;
  letter-spacing: 1.1px;
  font-size: 13px;
}

